<ion-header>
  <ion-navbar>
    <!--<ion-title>Ofertas</ion-title>-->
    <ion-searchbar (ionInput)="filterOffers($event)"></ion-searchbar>
  </ion-navbar>
  <ion-item>
    <ion-scroll scrollX style="height:20px;">
      <div class="scroll-item">
        <ion-col col-33 *ngFor="let category of getCategories()">
          <div class="card">
            <p style="font-size: 11px;"><ion-icon name="plane"></ion-icon> {{ category }}</p>
          </div>
        </ion-col>
      </div>
    </ion-scroll>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="loadOffersFromServer($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    {{ result }}
  </ion-item>
  <ion-card *ngFor="let offer of offers">
    <img [src]="offer.business.mainImage._url" (click)="offerImageClick(offer)" />
    <!--<ion-card-title color="primary">{{ offer.business.name }}</ion-card-title>-->
    <ion-card-header color="dark" style="padding-bottom: 0px">
      <p><strong> {{ offer.business.name }} </strong></p>
    </ion-card-header>
    <ion-card-content color="dark" class="card-offer-item">
      <ion-item no-padding>
        <p>{{ offer.shortDescription }}</p>
        <p>{{ offer.description }}</p>
      </ion-item>
      <!--<ion-item no-padding>{{ offer.description }}</ion-item>-->
    </ion-card-content>


  </ion-card>
</ion-content>
